/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;600;800&family=Press+Start+2P&display=swap');

:root {
    --fontPixeles: 'Press Start 2P', cursive;
    --fontDefault: 'Kanit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
section{
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
}
footer{
    width: 100%;
    min-height: 25vh;
    background-color: blueviolet;
}